<!doctype html>
<html>
    <head>
        <meta charset = "utf8">
        <link rel="stylesheet" href="../css/content.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
  
    </head>
    <body>
        <div class="container">
            <header>
                <h1>TITLE</h1>
            </header>
            <div class="memo-container">
                <h1 class="title">제목이 표시됩니다.</h1>
                <h2 class="description">메모의 부제가 표시됩니다.</h2>
                <div class="createdAt">
                    <span>2023.01.01</span>
                </div>

                <p class="content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem, similique tempore omnis dolores perferendis autem ut earum quam aliquid dignissimos. Autem quasi optio distinctio ab iste eius molestiae ullam sed.
                </p>
            </div>
        </div>
    </body>
</html>